amp-carousel {
  display: block;
  overflow: hidden;
}

.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  scroll-behavior: smooth;
  /* Hide scrollbar */
  box-sizing: content-box !important;
  -webkit-overflow-scrolling: touch !important;

  --snap-align: start;
  --visible-count: 1;
}

.scroll-container[horizontal="true"] {
  flex-direction: row;
  scroll-snap-type-x: mandatory; /* Firefox, IE */
  scroll-snap-type: x mandatory;
  /* Hide scrollbar */
  padding-bottom: 20px !important;
  overflow-y: hidden;
}

.scroll-container[horizontal="false"] {
  flex-direction: column;
  scroll-snap-type-y: mandatory; /* Firefox, IE */
  scroll-snap-type: y mandatory;
  /* Hide scrollbar */
  padding-right: 20px !important;
  overflow-x: hidden;
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container .slotted,
.scroll-container .spacer {
  box-sizing: border-box !important;
  margin: 0 !important;
  flex-shrink: 0 !important;
  scroll-snap-coordinate: var(--snap-coordinate); /* Firefox, IE */
  scroll-snap-align: var(--snap-align);
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container[horizontal="true"][mixed-length="false"] .slotted,
.scroll-container[horizontal="true"][mixed-length="false"] .spacer {
  width: calc(100% / var(--visible-count)) !important;
  min-width: auto !important;
  max-width: none !important;
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container[horizontal="false"][mixed-length="false"] .slotted,
.scroll-container[horizontal="false"][mixed-length="false"] .spacer {
  height: calc(100% / var(--visible-count)) !important;
  min-height: auto !important;
  max-height: none !important;
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container[horizontal="true"][snap="true"][mixed-length="true"] .slotted,
.scroll-container[horizontal="true"][snap="true"][mixed-length="true"] .spacer {
  max-width: 100% !important;
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container[horizontal="false"][snap="true"][mixed-length="true"] .slotted,
.scroll-container[horizontal="false"][snap="true"][mixed-length="true"] .spacer {
  max-height: 100% !important;
}

/**
 * TODO(sparhami) Try to figure out if we can still snap on first/last
 * elements on the edge adjacent to the mask, but not on the other edge.
 */
.scroll-container[snap="false"] {
  scroll-snap-type: none;
}

/** Keep in sync with ::slotted(*) version below */
.scroll-container .slotted {
  will-change: transform;
}


.scroll-container[horizontal="true"] .spacer {
  height: 100%;
}

.scroll-container[horizontal="false"] .spacer {
  width: 100%;
}

/** Mask Styles */
.mask {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  z-index: 1;
  scroll-snap-align: none;
}

/*
.start-mask {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      rgba(0, 0, 0, 0.03) 4px,
      rgba(0, 0, 0, 0.03) 8px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    );
}

.end-mask {
  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      rgba(0, 0, 0, 0.03) 4px,
      rgba(0, 0, 0, 0.03) 8px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    );
}
*/

.scroll-container[loop="false"][horizontal="true"] .mask {
  width: var(--non-looping-mask-length, 0%);
}

.scroll-container[loop="false"][horizontal="false"] .mask {
  height: var(--non-looping-mask-length, 0%);
}

.scroll-container[loop="false"][mixed-length="true"] .mask {
  display: none;
}


/**
 * Can remove once we can still snap on the first/last element.
 */
 .scroll-container[snap="false"] .mask {
  display: none;
}

/**
 * These rules need to be kept separate for browsers that do not understand
 * ::slotted. If they are combined with the rules above, then the rules will not
 * be applied, even if other selectors in the comma separated list match. These
 * rules cannot be placed directly before/after the non-Shadow DOM rule as a
 * build step will combine the CSS rules.
 */

/** Keep in sync with .slotted version above */
.scroll-container ::slotted(*) {
  box-sizing: border-box !important;
  margin: 0 !important;
  flex-shrink: 0 !important;
  scroll-snap-coordinate: var(--snap-coordinate); /* Firefox, IE */
  scroll-snap-align: var(--snap-align);
}

/** Keep in sync with .slotted version above */
.scroll-container[horizontal="true"][mixed-length="false"] ::slotted(*) {
  width: calc(100% / var(--visible-count)) !important;
  min-width: auto !important;
  max-width: none !important;
}

/** Keep in sync with .slotted version above */
.scroll-container[horizontal="false"][mixed-length="false"] ::slotted(*) {
  height: calc(100% / var(--visible-count)) !important;
  min-height: auto !important;
  max-height: none !important;
}

/** Keep in sync with .slotted version above */
.scroll-container[horizontal="true"][snap="true"][mixed-length="true"] ::slotted(*) {
  max-width: 100% !important;
}

/** Keep in sync with .slotted version above */
.scroll-container[horizontal="false"][snap="true"][mixed-length="true"] ::slotted(*) {
  max-height: 100% !important;
}

/** Keep in sync with .slotted version above */
.scroll-container ::slotted(*)  {
  will-change: transform;
}