:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot {
  width: 0;
  justify-content: flex-start;
}

:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot {
  width: 0;
  justify-content: flex-end;
}

:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > [disabled],
:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > [disabled],
[i-amphtml-stream-gallery-hide-inset-buttons]:not([stream-gallery-outset-arrows]) .i-amphtml-stream-gallery-arrow-prev-slot > *,
[i-amphtml-stream-gallery-hide-inset-buttons]:not([stream-gallery-outset-arrows]) .i-amphtml-stream-gallery-arrow-next-slot > * {
  opacity: 0;
  /** 
   * Note, screen readers can still activate the buttons when hide buttons is
   * specified, even though we have `pointer-events: none`.
   */
  pointer-events: none !important;
}

:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev,
:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  filter: drop-shadow(0px 1px 2px #4a4a4a);
  width: 40px;
  height: 40px;
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14,7.4 L9.4,12 L14,16.6" fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}

:not([stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10,7.4 L14.6,12 L10,16.6" fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" /></svg>');
}