.pagination-dots {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  /* Show at most 10 dots */
  max-width: 160px;
  margin: auto;
  overflow-x: auto;
}

.pagination-dot-container {
  display: flex;
  width: 28px;
  min-width: 16px;
  /*
   * Center the pagination dots. Using `justify-content: center`on the parent
   * results in the dots at the start/end being unable to be scrolled to.
   */
  margin: auto;
}

.pagination-dot {
  position: relative;
  overflow: hidden;
  background-color: #aaa;
}

.pagination-dot-progress {
  position: absolute;
  top: 0;
  background-color: #333;
  transform: scale(calc(1 - var(--percentage-falloff)));
  opacity: calc(1 - var(--percentage-falloff));
}

.pagination-dot,
.pagination-dot-progress {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

:host([inset]) {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: calc(var(--amp-caption-margin-top) + var(--amp-caption-height, 0));
  display: block !important;
  margin: 8px;
}

:host([inset]) .pagination-dot {
  background-color: #bbb;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25),
              0 1px 1px rgba(0, 0, 0, 0.4);
  mix-blend-mode: hard-light;
}

:host([inset]) .pagination-dot-progress {
  background-color: #fff;
}