amp-inline-gallery-slide {
  /*
   * We do not want the slide to be positioned, so the captions can position
   * relative to the gallery itself.
   */
  position: static !important;
  /*
   * Do not transform the slide, but rather transform just the content.
   */
  transform: none !important;
  will-change: auto !important;
}

amp-inline-gallery-slide.i-amphtml-layout-size-defined {
  /*
   * Since the content is translated, it may be outside the area of the
   * slide itself.
   */
  overflow: visible !important;
}

.i-amphtml-inline-gallery-slide-container {
  width: 100%;
  height: 100%;
  /* Override default from <figure> */
  margin: 0;
}

.i-amphtml-inline-gallery-slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Subtract out height for the caption */
  height: calc(100% - calc(var(--amp-caption-height, 0px)));
  transform: var(--content-transform, translateZ(1px));
  will-change: transform;
  overflow: hidden;
}

.i-amphtml-inline-gallery-slide-caption {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: var(--amp-caption-margin-top);
  height: var(--amp-caption-height, 0);
  overflow: hidden;
  opacity: var(--caption-opacity);
}

.i-amphtml-inline-gallery-slide-slotted {
  width: 100%;
}

.i-amphtml-inline-gallery-slide-slotted > .i-amphtml-replaced-content {
  /*
   * Apply contain object-fit to all replaced content to avoid distorted ratios.
   */
  object-fit: contain;
}