@import "../../amp-base-carousel/0.1/carousel.css";
@import "./amp-inline-gallery-slide.css";

/**
 * <amp-inline-gallery> boilerplate, shared by all inline-galleries.
 * Custom properties cann be customized on a per gallery basis.
 */
amp-inline-gallery {
  /* The can be customized per component. */
  --amp-caption-vertical-margin: 3px;
  --amp-caption-horizontal-margin: 6px;
  --amp-caption-font-size: 1em;
  --amp-caption-lines: 2;
  --amp-caption-line-height: 1.25;
  --amp-slide-peek: 0.2;
  --amp-gallery-dots-height: 16px;
  --amp-gallery-thumbnails-height: 0px;
  --amp-gallery-image-aspect-ratio: calc(4 / 3);
}

@media (min-width: 600px) {
  amp-inline-gallery {
    /* Desktop configuration, can be customized. */
    --amp-slide-peek: 0;
    --amp-gallery-dots-height: 0px;
    --amp-gallery-thumbnails-height: 96px;
  }
}

amp-inline-gallery {
  /* Do not change */
  --amp-caption-height: calc(
      var(--amp-caption-font-size) *
      var(--amp-caption-lines) *
      var(--amp-caption-line-height) + 
      (2 * var(--amp-caption-vertical-margin))
  );
  --amp-gallery-content-aspect-ratio: calc(var(--amp-gallery-image-aspect-ratio) / (1 - var(--amp-slide-peek)));
  --amp-gallery-info-height: calc(
      var(--amp-caption-height) +
      var(--amp-gallery-dots-height) + 
      var(--amp-gallery-thumbnails-height)
  );
  --amp-gallery-max-width: calc((100vh - var(--amp-gallery-info-height)) * var(--amp-gallery-content-aspect-ratio));
  --amp-gallery-height: calc((100% / var(--amp-gallery-content-aspect-ratio)) + var(--amp-gallery-info-height));

  max-width: var(--amp-gallery-max-width);
}

.i-amphtml-inline-gallery-slide-slotted > .i-amphtml-replaced-content {
  object-fit: contain;
}

/* Controls the slide width based on the peek amount */
amp-inline-gallery .i-amphtml-carousel-slotted {
  width: calc(100% * (1 - var(--amp-slide-peek, 0)));
}